* {
  box-sizing: border-box;
}

html, body {
  background-color: #ffffff;
  color: $color-text;
  font: normal 16px $font-normal;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $color-text;
  text-decoration: none;
}

p {
  margin: 0;
}

textarea, input {
  outline: none;
}

table, thead, tbody, th, tr, td {
  font-weight: normal;
}

b, strong, .strong-text {
  font-family: $font-bold;
  font-weight: normal;
}

.clearfix {
  clearfix();
}
