$color-text = #3a3a3c;
$color-gray-text = #bebebe;
$color-dark-gray = #999999;
$color-primary = #7154a0;
$color-secondary = #482d78;
$color-tertiary = #9a80bb;
$color-light-background = #f7f7f7;
$color-medium-background = #f0f0f0;
$color-border = #e2e2e2;
$color-dark = #1a1229;
$color-cancel = #d71b5d;

$color-indica = #44afe3;
$color-hybrid-indica = #6ec5aa;
$color-hybrid = #68bc45;
$color-hybrid-sativa = #a6ce38;
$color-sativa = #ffce03;
$color-high-cbd = #d71b5d;

$horizontal-padding = 15px;
$vertical-padding = 15px;

$font-normal = 'Avenir Next Regular', Helvetica, Arial, sans-serif;
$font-bold = 'Avenir Next Demi', Helvetica, Arial, sans-serif;
